{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="container">
        <div class="card mx-auto login-box" style="width: 24rem;">
            <div class="card-body">
                <h1 class="card-title">{% trans %}Register{% endtrans %}</h1>
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username, {
                    attr: {'class': 'form-control'}
                }) }}
                {{ form_row(registrationForm.email, {
                    attr: {'class': 'form-control'}
                }) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password',
                    attr: {'class': 'form-control'}
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-primary">{% trans %}Register{% endtrans %}</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>


    </div>
{% endblock %}
